<h2>
  現金口座残高履歴
</h2>

<h3>
  <% if @account.id == 1 %>
    イシュア口座
  <% elsif @account.id == 2 %>
    アクワイアラ口座
  <% else %>
    <%= "Account##{@account.id}" %>
  <% end %>
</h3>

<table>
  <tr>
    <th>ID</th>
    <th>金額</th>
    <th>種別</th>
    <th>取引日時</th>
  </tr>
  <% @account_transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.transaction_type %></td>
      <td><%= transaction.transaction_time %></td>
    </tr>
  <% end %>
</table>
